[submodule "third_party/GroundingDINO"]
	path = third_party/GroundingDINO
    url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "third_party/spot_autonomy"]
	path = third_party/spot_autonomy
    url = https://github.com/ut-amrl/spot_autonomy.git
