[submodule "third_party/graph_navigation"]
	path = third_party/graph_navigation
	url = git@github.com:ut-amrl/graph_navigation.git
[submodule "third_party/enml"]
	path = third_party/enml
	url = git@github.com:ut-amrl/enml.git
[submodule "third_party/amrl_maps"]
	path = third_party/amrl_maps
	url = git@github.com:ut-amrl/amrl_maps.git
[submodule "third_party/amrl_msgs"]
	path = third_party/amrl_msgs
	url = git@github.com:ut-amrl/amrl_msgs.git
[submodule "third_party/Grounded-Segment-Anything"]
	path = third_party/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "third_party/webviz"]
	path = third_party/webviz
	url = git@github.com:ut-amrl/webviz.git
[submodule "third_party/robot_commands"]
	path = third_party/robot_commands
	url = git@github.com:ut-amrl/robot_commands.git
