<launch>
    <!-- Jackal autonomy stack -->
    <include file="$(find ut_jackal)/launch/autonomy.launch" />

    <node name="gui"
        pkg="nl_to_robot_code_deploy"
        type="gui.py"
        cwd="node"
        respawn="true"
        respawn_delay="2"
        output="screen"/>
    
    <node name="robot_low_level_actions"
        pkg="nl_to_robot_code_deploy"
        type="actions.py"
        cwd="node"
        respawn="true"
        respawn_delay="2"
        output="screen"/>
</launch>
