<launch>
    <!-- Jackal autonomy stack -->
    <node name="gui"
        pkg="codebotler_amrl_impl"
        type="gui.py"
        cwd="node"
        respawn="true"
        respawn_delay="2"
        output="screen"/>

    <node name="robot_low_level_actions"
        pkg="codebotler_amrl_impl"
        type="actions.py"
        cwd="node"
        respawn="true"
        respawn_delay="2"
        output="screen"/>
</launch>
