<launch>
  <node pkg="nl_to_robot_code_deploy" type="run_arbiter.sh" name="run_arbiter" output="screen" />
  <node pkg="nl_to_robot_code_deploy" type="run_webviz.sh" name="run_webviz" output="screen" />
  <node pkg="nl_to_robot_code_deploy" type="run_enml.sh" name="run_enml" />
  <node pkg="nl_to_robot_code_deploy" type="run_graphnav.sh" name="run_graphnav"  output="screen" />
  <include file="$(find zed_wrapper)/launch/zed.launch" />
</launch>