<launch>
  <node pkg="ut_jackal" type="autonomy_arbiter" name="autonomy_arbiter"
      cwd="node" args="--config $(find ut_jackal)/config/autonomy_arbiter.lua" />
      
  <node pkg="webviz" type="websocket" name="websocket" cwd="node" >
    <remap from="scan" to="velodyne_2dscan"/>
  </node>
  <node pkg="graph_navigation" type="navigation" name="navigation" 
    args='-robot_config $(find nl_to_robot_code_deploy)/config/navigation.lua' cwd="node" />
  <node pkg="enml" type="enml" name="enml" 
      args='-c="$(find enml)/config" -r "ut_jackal.lua"' 
      cwd="node" />
  <node pkg="nl_to_robot_code_deploy" type="gui.py" name="run_gui" output="screen" />
  <node pkg="nl_to_robot_code_deploy" type="interface.py" name="run_main"  output="screen" />
  <include file="$(find zed_wrapper)/launch/zed.launch" />
  <include file="$(find ut_jackal)/launch/ouster.launch" />
</launch>